/* CONSTANTS */
body {
  color: #242728;
  width: 100%;
  height: 100%;
}
.wrapper {
  padding-top: 60px;
  padding-bottom: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
  min-height: 100%;
}
header {
  margin-top: -60px;
  height: 60px;
}
footer {
  margin-bottom: -100px;
  height: 100px;
}
footer .persons-data {
  width: 60%;
  margin: 0 auto 0 auto;
}
footer .persons-data td {
  width: 50%;
}
header,
footer {
  background-color: #f4e2c3;
  width: 100%;
}
.page-selector {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0;
  border: 1px solid #87e88b;
  border-radius: 5px;
}
.page-selector > a {
  text-align: center;
  display: block;
  height: 100%;
  padding: 15px;
}
input[type="radio"] {
  margin-right: 20px;
}
.page-anchor {
  color: #1b9419;
  text-decoration: none;
}
.tabs-list {
  width: fit-content;
  margin: 0 auto 0 auto;
}
.tabs-list .tab-element {
  display: inline-block;
  margin: 5px;
}
.list-container {
  width: 50%;
  margin: 10px auto 10px auto;
}
.list-container .list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
.list-container .list > .list-element {
  width: 100%;
  margin: 5px;
}
.list-container .list > .list-element:nth-child(even) {
  background-color: #e1f9e2;
}
.message-section {
  border: 1px solid #242728;
  border-radius: 5px;
  width: 50%;
  margin: 20px auto 20px auto;
  padding: 20px;
}
.data-section {
  width: 50%;
  margin: 0 auto 0 auto;
}
.data-section.mid-wide {
  width: 75%;
}
.data-container {
  border: 1px solid #242728;
  border-radius: 5px;
  width: 100%;
  margin: 10px auto 10px auto;
}
.data-container .data-table {
  width: 100%;
  table-layout: fixed;
}
.data-container .data-table tr {
  width: 100%;
  vertical-align: middle;
}
.data-container .data-table tr.title-row {
  height: 2rem;
  font-weight: bold;
  text-align: center;
}
.data-container .data-table tr.data-row.not-needed {
  display: none;
}
