<footer>
    <table class="persons-data">
        <tr>
            <td>
                <fieldset>
                    <legend>Student</legend>
                    <table>
                        <tr>
                            <td>Veszelovszki Soma</td>
                            <td>BNDXPC</td>
                        </tr>
                        <tr>
                            <td>soma.veszelovszki@gmail.com</td>
                        </tr>
                    </table>
                </fieldset>
                </td>
            <td>
                <fieldset>
                    <legend>Teacher</legend>
                    <table>
                        <tr>
                            <td>Asztalos Márk</td>
                        </tr>
                        <tr>
                            <td>Asztalos.Mark@aut.bme.hu</td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
</footer>