<div class="header">
    <div class="tabs-list">
        <div class="tab-element">
            <a class="page-selector" href="<?= createURIText('ListController') ?>">
                <span>Series list</span>
                <img src="" />
            </a>
        </div>
        <div class="tab-element">
            <a class="page-selector" href="<?= createURIText('SearchController') ?>">
                <span>Search</span>
                <img src="" />
            </a>
        </div>
    </div>
</div>